{% extends "base.html" %}

{% block title %}{{ super() }} - Help{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/CSS/reviews.css">
<div class="container">
<div class="questions">
<h1>General questions</h1>
<p><strong>Can I afford a cruise?</strong><br>
If you can afford to take a hotel-based vacation, you can afford to take a cruise vacation.
There are cruises available at all price ranges -- from budget to luxury -- and all represent perhaps the best value for your vacation dollar.</p>
<p><strong>What do I get for my money?</strong><br>
Your cruise price includes your cabin, all meals (including afternoon tea and the midnight buffet!), entertainment, parties and, of course,
all transportation between all the ports on your itinerary. On most ships, alcoholic beverages and soft drinks, spa treatments,
optional shore excursions and meals in specialty restaurants will incur additional cost.</p>
<p><strong>How long do cruises last?</strong><br>
Vacations To Go sells cruises that range from 3-night weekend escapes to 180-night, around-the-world voyages.</p>
<p><strong>Is a cruise suitable for families with kids?</strong><br>
Not just suitable, they're perfect! Large cruise ships are now designed with kids-only facilities, counselors, daytime activities and nighttime baby-sitting.
Children of all ages are welcome on most ships. Your cruise counselor can advise you of the dwindling number of ships that are not kid-friendly.</p>
<p><strong>Are cruises suitable for single travelers?</strong><br>
Cruising is very popular with single travelers, and cruise lines go out of their way to make it easy for singles to meet and mingle with one another.
Some cruise ships offer single cabins, and most offer a single supplement rate for double staterooms.
On select sailings, we send our own onboard host to organize exclusive singles cocktail parties, mixers, games, group excursions, single-mingle dining and more!
You'll never have to feel alone on a cruise... unless that's what you're looking for! </p>
<p><strong>Are cruises really that popular?</strong><br>
You better believe it! More than 20 million people are expected to cruise in the next year, and cruising routinely earns the highest ratings in customer satisfaction among all vacation categories.
Once you try it, you'll be hooked.</p>
<p><strong>What is a cruise and land tour?</strong><br>
A cruise and land tour is the combination of a cruise vacation with additional days on land to further explore a destination.
Always escorted, a cruise and land tour will include transportation, hotel accommodations, tours and food where indicated in the itinerary.
These vacations may be offered in Alaska, Asia, Australia and New Zealand, Canada, Europe and South America.
To see more information on cruise lines, click <a href="lines">here</a>.</p>
</div>
</div>
{% endblock %}